# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vite
dist/
.vite/

.env
.gemini/
gha-creds-*.json

# gemini-cli settings
.gemini/

# GitHub App credentials
gha-creds-*.json